---
repos:
  - repo: https://github.com/UCL-MIRSG/.github
    rev: v0.229.0
    hooks:
      - id: mirsg-hooks
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 43.4.0
    hooks:
      - id: renovate-config-validator
        args:
          - renovate/default-config.json5
